<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <header>
      <nav class="app-bar">
        <div class="app-bar-wrapper">
          <div class="app-bar-logo">
            <h1 class="app-bar-title">MeResto</h1>
            <div class="app-bar-hamburger">
              <button type="button">☰</button>
            </div>
          </div>
          <ul class="app-bar-nav">
            <li>
              <a class="app-bar-nav-item" href="#">Home</a>
              <a class="app-bar-nav-item" href="#">Favorite</a>
              <a class="app-bar-nav-item" href="#">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
