<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.png">
    <meta name="description" content="Me'sResto is a restaurant catalog as a result of a project from Dicoding's Front End Web Expert Course">
    <link rel="apple-touch-icon" href="./images/logos/cutlery.png">
    <link rel="manifest" href="./app.webmanifest">
    <title>Me'sResto - Restaurant Apps</title>
  </head>
  <body>
    <a href="#appMain" id="skipToContent" tabindex="0">Skip to content</a>
    <app-backdrop></app-backdrop>
    <app-bar></app-bar>
    <main class="app-main" id="appMain"></main>
    <app-footer></app-footer>
  </body>
</html>
