@import '/src/styles/sass/main.scss';

%base-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

%base-section {
  padding: .8rem;
}

%section-title {
  text-align: left;
  font-weight: 500;
  font-size: 2.2rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid $color_3;
  line-height: 3rem;
}

.restaurant-detail-page {
  @extend %base-page;

  .restaurant-detail-overview {
    margin-top: 1.2rem;

    .restaurant-detail__hero {
      position: relative;
      max-height: 480px;
      overflow: hidden;

      img {
        @extend %img-fit;
      }

      .restaurant-detail__rating {
        font-size: 1.2rem;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 4px 0 0 0;
        padding: .7rem;
        position: absolute;
        bottom: 0;
        right: 0;
        i {
          color: $color_9;
        }
      }
    }
  
    .restaurant-detail__general {
      line-height: 1.5rem;
      padding: .8rem;
  
      .restaurant-detail__name {
        font-size: 2.3rem;
        line-height: 2.3rem;
      }
  
      .restaurant-detail__city {
        color: $color_6;
        margin-top: .4rem;
      }
  
      .restaurant-detail__address {
        color: $color_6;
        margin-top: .4rem;
      }
  
      .restaurant-detail__description {
        margin-top: .5rem;
      }

      .restaurant-detail__category {
        margin-top: .8rem;

        .category-list {
          display: flex;
          list-style: none;
          gap: .5rem;
          flex-wrap: wrap;

          .category-item {
            padding: .5rem .9rem;
            font-weight: 500;
            border-radius: 4px;
            color: $color_4;
            background-color: $color_3;
          }
        }
      }
    }
  }

  .restaurant-detail-menu {
    @extend %base-section;

    h2 {
      @extend %section-title;
    }

    .menu-wrapper {
      margin-top: .8rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      
      .menu-item {
        position: relative;
        padding: 1.5rem;
        border-radius: 4px;
        overflow: hidden;
        flex: 1;
        
        &:nth-child(1) {
          background-color: $color_2;
        }

        &:nth-child(2) {
          background-color: $color_3;
        }

        .menu-item__badge {
          position: absolute;
          top: 0;
          right: 0;
          padding: .5rem;
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 0 0 0 4px;
          color: $color_1;
          font-weight: 500;
        }

        h3 {
          margin-top: 1.2rem;
          text-align: center;
          font-weight: 600;
          color: $color_4;
          font-size: 2rem;
          line-height: 2rem;
    
          small {
            color: $color_11;
            font-weight: 300;
            font-size: 1.8rem;
          }
        }
    
        ul {
          margin: 1.5rem auto;
          width: 100%;
          max-width: 400px;
          list-style: none;

          li {
            font-size: 1.2rem;
            color: $color_6;
            margin-bottom: 1.2rem;
            border-bottom: 1px solid $color_8;
            padding-bottom: .5rem;
          }
        }
      }
    }
  }

  .restaurant-detail-review {
    @extend %base-section;

    h2 {
      @extend %section-title;
    }

    .review-wrapper {
      form {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        gap: .8rem;

        #validationContainer {
          margin-left: 1rem;
          color: rgb(208, 45, 45);
        }

        label {
          color: $color_6;
        }

        textarea, input {
          font-size: 1rem;
          padding: .8rem;
          border-radius: 8px;
          border: 1px solid rgb(206, 206, 206);
          outline: 0px solid $color_3;

          &:focus {
            border: 1px solid $color_13;
            outline: 5px solid $color_3;
            transition: .1s;
          }
        }

        button {
          @include button-theme;
          font-size: 1rem;
        }
      }

      .review-list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: .8rem;
        padding: .8rem;
        border-top: 2px solid $color_3;

        .review-item {
          display: flex;
          flex-direction: column;
          gap: .5rem;
          padding: .5rem;
          border-bottom: 1px solid $color_3;

          .review-author {
            font-size: 1.2rem;
            color: $color_6;
          }

          .review-content {
            font-size: .95rem;
            line-height: 1.4rem;
            color: $color_5;
          }

          .review-date {
            text-align: right;
            font-size: .8rem;
          }
        }

        .no-review {
          margin-top: 1.2rem;
          border-radius: 4px;
          padding: .8rem;
          color: $color_10;
          background-color: $color_2;
        }
      }
    }
  }
}

.detail-skeleton-container {
  @extend %base-page;

  .detail-overview-skeleton {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .detail-menu-skeleton {
    .detail-menu-list-skeleton {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.2rem;
    }
  }

  .detail-review-skeleton {
    .detail-review-wrapper-skeleton {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.2rem;
    }
  }
}

.favorite {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: .9rem 1.1rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  color: white;
  background-color: $color_4;
  border-radius: 50%;
  box-shadow: 1px 1px 10px -3px $color_12;
  cursor: pointer;

  &:active {
    font-size: 1.6rem;
    transition: .1s;
  }
}

@media screen and (min-width: 769px) {
  .restaurant-detail-page {
    .restaurant-detail-overview {
      display: flex;
      padding: .7rem;
      gap: 1rem;
  
      .restaurant-detail__hero {
        flex: 1;
        border-radius: 2% 8% 2% 8%;
        overflow: hidden;
        box-shadow: 1px 1px 12px -3px $color_12;
      }
  
      .restaurant-detail__general {
        flex: 1;
      }
    }

    .restaurant-detail-menu {
      .menu-wrapper {
        flex-direction: row;
      }
    }
  }

  .detail-skeleton-container {
    .detail-overview-skeleton {
      grid-template-columns: 1fr 1fr;
    }

    .detail-menu-skeleton {
      .detail-menu-list-skeleton {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .restaurant-detail-page {
    .restaurant-detail-review {
      .review-wrapper {
        display: grid;
        grid-template-columns: 5fr 7fr;;
        gap: 1.2rem;

        .review-list {
          border-top: none;
        }
      }
    }
  }
  .detail-skeleton-container {
    .detail-review-skeleton {
      .detail-review-wrapper-skeleton {
        grid-template-columns: 5fr 7fr;
      }
    }
  }
}