@import '/src/styles/sass/main.scss';

.restaurant-detail-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  .restaurant-detail-overview {
    .restaurant-detail__hero {
      position: relative;

      img {
        @extend %img-fit;
        max-height: 600px;
      }

      .restaurant-detail__rating {
        font-size: 1.2rem;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 4px 0 0 0;
        padding: .5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        i {
          color: $color_9;
        }
      }
    }
  
    .restaurant-detail__general {
      line-height: 1.5rem;
      padding: .8rem;
  
      .restaurant-detail__name {
        font-size: 2.3rem;
        line-height: 2.3rem;
        margin: .5rem auto;
      }
  
      .restaurant-detail__city {
        font-weight: 600;
        color: $color_6;
      }
  
      .restaurant-detail__address {
        font-weight: 600;
        color: $color_6;
      }
  
      .restaurant-detail__description {
        margin-top: .5rem;
      }

      .restaurant-detail__category {
        margin-top: .8rem;

        .category-list {
          display: flex;
          list-style: none;
          gap: .5rem;
          flex-wrap: wrap;

          .category-item {
            padding: .5rem .9rem;
            font-weight: 500;
            border-radius: 4px;
            color: $color_4;
            background-color: $color_3;
          }
        }
      }
    }
  }

  .restaurant-detail-menu {
    margin-top: 1rem;
    padding: 1.2rem;
    text-align: center;
    line-height: 1.5rem;

    h2 {
      font-weight: 300;
      color: $color_6;
      font-size: 2.5rem;
      padding-bottom: .5rem;
      border-bottom: 2px solid $color_3;
      line-height: 3rem;
    }

    h3 {
      font-weight: 600;
      color: $color_4;
      margin-top: 1.5rem;
      font-size: 2.8rem;
      line-height: 2.5rem;

      small {
        color: $color_11;
        font-weight: 300;
        font-size: 2.2rem;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
      gap: .75rem;

      li {
        font-size: 1.5rem;
        color: $color_6;
      }
    }
  }
}

@media screen and (min-width: 577px) {
  .restaurant-detail-overview {
    display: flex;
    padding: .7rem;
    gap: 1rem;

    .restaurant-detail__hero {
      flex: 1;
      border-radius: 2% 10% 2% 10%;
      overflow: hidden;
      box-shadow: 1px 1px 12px -3px $color_12;
    }

    .restaurant-detail__general {
      flex: 1;
    }
  }
}