@import '/src/styles/sass/main.scss';

.home-page {
  .hero {
    figure {
      position: relative;
      height: 420px;
  
      img {
        @extend %img-fit;
      }
  
      figcaption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 55%, rgba(255,255,255,0) 90%);
  
        .hero-content {
          // margin-bottom: 100px;
          color: $color_1;
          line-height: 1.4rem;
  
          h2 {
            margin-bottom: .9rem;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1.8rem;
          }
  
          p {
            color: $color_8;
            font-size: 1rem;
          }
        }
      }
    }
  }
  
  .restaurant {
    margin-top: 2.2rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
  
    .restaurant-wrapper {
      width: 100%;
      max-width: 1024px;
  
      h2 {
        @extend %section-title;
      }
  
      & > p {
        @extend %section-sub-title;
      }
  
      .restaurant-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-top: 1.5rem;
      }
    }
  }
  
  .catalogue-skeleton-container {
    margin-top: 2.2rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .catalogue-skeleton-list {
      width: 100%;
      max-width: 1024px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
  
  .why-us {
    margin-top: 2.2rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    background-color: $color_3;
    padding: 1.5rem 1rem;
  
    .why-us-wrapper {
      width: 100%;
      max-width: 620px;
  
      h2 {
        @extend %section-title;
      }
  
      .why-us-list {
        margin-top: 1rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .8rem;
  
        .why-us-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: .5rem;
          text-align: center;
  
          .why-us-number {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color_4;
            color: $color_1;
            padding: .4rem .9rem;
            border-radius: 50%;
            font-size: 1.7rem;
            font-weight: bold;
          }
          
          .why-us-content {
            border: 2px solid $color_2;
            padding: .8rem 1rem;
            border-radius: 10px;
  
            p {
              margin-top: .6rem;
            }
          }
        }
      }
    }
  }  
}
// media query
@media screen and (max-width: 278px) {

}

@media screen and (min-width: 577px) {
  .home-page {
    .restaurant {
      .restaurant-wrapper {
        .restaurant-list {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  
    .catalogue-skeleton-container {
      .catalogue-skeleton-list {
        grid-template-columns: 1fr 1fr;
      }
    }
  
    .why-us {
      .why-us-wrapper {
        .why-us-list {
          .why-us-item {
            flex-direction: row;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .home-page {
    .restaurant {
      .restaurant-wrapper {
        .restaurant-list {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  
    .catalogue-skeleton-container {
      .catalogue-skeleton-list {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@media screen and (min-width: 1025px) {

}

@media screen and (min-width: 1201px) {
  .home-page {
    .hero {
      figure {
        .hero__image {
          min-width: 1000px;
        }
      }
    }
  }
}