// variables
$color_1: #FAF1E6;
$color_2: #FDFAF6;
$color_3: #E4EFE7;
$color_4: #064420;
$color_5: #222831;
$color_6: #393E46;
$color_7: #00ADB5;
$color_8: #c2c2c2;
$color_9: #FB8B24;
$color_10: #757575;
$color_11: #99b3a0;
$color_12: rgba(81, 81, 81, 0.8);
$color_13: rgb(188, 225, 188);

@mixin button-theme($theme: $color_3) {
  padding: .9rem 1.1rem;
  background-color: $theme;
  border: 1px solid $color_13;
  border-radius: 4px;
  cursor: pointer;
  transition: .15s;

  &:hover {
    @extend %background-hover;
  }
}

@mixin text-ellipsis($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

%restaurant-item {
  .restaurant-item {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 7px -3px $color_12;
    transition: .15s;


    .restaurant-header {
      position: relative;
      height: 230px;

      h3 {
        min-width: 30%;
        font-size: 1.2rem;
        text-align: center;
        background-color: $color_3;
        padding: .7rem .5rem;
        border-radius: 0 0 10px 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .9;
      }

      img {
        @extend %img-fit;
      }
    }

    .restaurant-body {
      display: flex;
      flex-direction: column;
      height: 180px;
      margin-top: .5rem;
      padding: 1.2rem .8rem;

      .restaurant-detail {
        flex: 1;

        .restaurant-rating {
          i {
            color: $color_9;
          }
        }

        h3 {
          @include text-ellipsis(1);
          margin-top: .5rem;
          font-size: 1.2rem;
        }

        p {
          @include text-ellipsis(3);
          margin-top: .5rem;
        }
      }

      .restaurant-action {
        a {
          @include button-theme;
          color: $color_5;
          display: inline-block;
          margin-top: 1rem;
          text-align: center;
        }
      }
    }

    &:hover {
      transform: translate(0, -8px);
    }
  }

  .no-catalogue {
    text-align: center;
    grid-column: 1 / -1;
  }
}

%background-hover {
  &:hover {
    background-color: $color_4;
    color: $color_1;
    transition: .15s;
  }
}

%section-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

%section-sub-title {
  text-align: center;
  margin-top: .4rem;
  color: $color_10;
}

%img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

// Reset style
@font-face {
  font-family: 'inter';
  src: url('/src/public/fonts/inter.ttf');
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#skipToContent {
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 10;
  background-color: $color_4;
  color: $color_1;
  padding: .5rem;

  &:focus {
    top: 0;
  }
}

.app-main {
  width: 100%;
  margin: 0 auto;
}

.d-none {
  display: none;
}